/.env
/ai-venv
.vercel
*.pyc
*.pyc*
__pycache__
__pycache__/
db.sqlite3 
/env
/venv
*.venv
venv/*
.vscode
/google_venv
*.google_venv
google_venv/*
db/checkpoints.sqlite
logs/*
.scannerwork
sonar-project.properties
.env